div data={ controller: "google-login", action: "gsi-loaded@document->google-login#setup", "google-login-client-id-value": Rails.application.credentials.google_sign_in.client_id }
  div data={ "google-login-target": "signIn"}
