- turbo_page_requires_reload
- if flash[:notice]
  .notice= flash[:notice]
- if flash[:alert]
  .alert= flash[:alert]

.recipe-book-logo
  = link_to "Recipe Collection", recipes_path, class: "left"
  = link_to "Plan a Menu", new_menu_plan_path, class: "right"
  - unless user_signed_in?
    .blocker
      .overlay
        #g_id_onload[
            data-client_id=Rails.application.credentials.google_sign_in.client_id
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri=google_logins_url
            data-authenticity_token=form_authenticity_token
            data-auto_select="#{!@suppress_autologin}"
            data-itp_support="true"
        ]

        .g_id_signin[
            data-type="standard"
            data-shape="pill"
            data-theme="filled_black"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
        ]
