input[type=text], input[type=number] {
  height: 30px;
  width: 75%
}

.button-area {
  padding-top: 10px;
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}

#error_explanation {
  background-color: #ffcdd2;
  border: 1px solid #b71c1c;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
  h2 {
    font-size: 1em;
    margin: 0;
  }
}

.field {
  &.short {
    width: 50%;
  }
}

.side-by-side {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .field:first-child {
    flex-grow: 3;
  }
  .field:last-child {
    flex-grow: 1;
  }

  .field input[type=text], input[type=number] {
    width: 100%;
  }
}

.input-inline-button {
  display: flex;
  .input {
    flex-grow: 1;
    margin-right: 10px;

    input {
      width: 100%;
    }
  }

  .inline-button {
    height: 30px;
  }
}

fieldset.checkboxes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;

  &.controlled-fieldset {
    flex-direction: column;

    .controlled-fields {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5px;
    }
  }

  .tag-checkbox, .leftover-radio {
    flex: 0 0 33%;
    display: flex;
    align-items: center;
    .lozenge {
      margin-left: 5px;
    }
  }

  .leftover-radio {
    margin-bottom: 2px;
  }
}
