input[type=text], input[type=number] {
  height: 30px;
  width: 75%
}

.button-area {
  padding-top: 10px;
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}

#error_explanation {
  background-color: #ffcdd2;
  border: 1px solid #b71c1c;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
  h2 {
    font-size: 1em;
    margin: 0;
  }
}

.field {
  &.short {
    width: 50%;
  }
}

.input-inline-button {
  display: flex;
  .input {
    flex-grow: 1;
    margin-right: 10px;

    input {
      width: 100%;
    }
  }

  .inline-button {
    height: 30px;
  }
}

fieldset.checkboxes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;

  .tag-checkbox {
    flex: 0 0 33%;
    display: flex;
    align-items: center;
    label {
      margin-left: 5px;
    }
  }
}
