input[type=text] {
  height: 30px;
  width: 75%
}

.field {
  .label::after {
    content: ":";
  }
}

.button-area {
  padding-top: 10px;
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}

#error_explanation {
  background-color: #ffcdd2;
  border: 1px solid #b71c1c;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 10px;
  h2 {
    font-size: 1em;
    margin: 0;
  }
}