@use 'sass:color';

:root {
  $banner-background: blue;
  --banner-height: 50px;
  --banner-background: #{$banner-background};
  --banner-highlight: #{color.scale($banner-background, $lightness: 20%)};
}
