@use 'sass:color';

:root {
  $white: #fafafa;
  --body-background: #{$white};
  --overlay-background: #{color.scale($white, $lightness: 50%, $alpha: -5%)};
  --hovered-book-background: #f5f5dc;
  --pressed-button-bg: #{color.scale($white, $lightness: -10%)};

  $banner-background: blue;
  --banner-height: 60px;
  --banner-background: #{$banner-background};
  --banner-highlight: #{color.scale($banner-background, $lightness: 20%)};

  --pale-border: #bbbbbb;
  --mid-fg-grey: #888888;
  --dark-bg-grey: #888888;
  --mid-bg-grey: #dddddd;
  --pale-bg-grey: #eeeeee;
  --black: #111111;
  --white: #{$white};
  --mid-red: #dd0000;
  --highlight-yellow: #e2e200;

  --main-font-stack: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-weight-bold: 600;

  --card-box-shadow: 5px 5px 15px 0px var(--mid-fg-grey);
}

.hidden {
  visibility: hidden;
}

.not-in-flow {
  display: none !important;
}
