@use 'sass:color';

:root {
  $white: #fafafa;
  --body-background: #{$white};
  --overlay-background: #{color.scale($white, $lightness: 50%, $alpha: -5%)};
  --hovered-book-background: #f5f5dc;

  $banner-background: blue;
  --banner-height: 50px;
  --banner-background: #{$banner-background};
  --banner-highlight: #{color.scale($banner-background, $lightness: 20%)};

  --pale-border: #bbbbbb;
  --mid-fg-grey: #888888;
  --mid-bg-grey: #dddddd;
  --black: #111111;
  --white: #{$white};
  --mid-red: #dd0000;

  --main-font-stack: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-weight-bold: 600;
}

.hidden {
  visibility: hidden;
}
